html {
  box-sizing: border-box;
  font-family: Roboto, 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: Roboto Condensed;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.banner {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* .img-flex {
  width: 100%;
  display: block;
} */

.banner-img-flex {
  width: 100%;
  display: block;
  position: absolute;
  left: 25%;
  top: 20%;
}

.banner-content {
  /* float: right; */
  position: absolute;
  display: inline-block;
  transform: translateX(-50%);
  top: 20%;
  left: 60%;
}

a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 200;
  display: inline-block;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
}

.btn {
  background-color: #333;
  color: #fff;
}

.btn-big {
  text-align: center;
  display: inline-block;
  padding: .5em;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
