html {
  box-sizing: border-box;
  font-family: Roboto, "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  align-items: center;
}

.content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-start;
  width: 100%;
  max-width: 700px;
  padding-top: 2.5%;
}

.text {
  flex-direction: column;
  padding: 0 0 0 4rem;
  max-width: 65%;
  margin: 0 0 1em;
}

.logo {
  width: 100%;
  max-width: 31%;
}

.logo img {
  width: 100%;
  display: block;
  margin: 0 .7em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  margin: 0;
  line-height: 1.2;
}

p {
  font-size: 1.5rem;
  margin: .3em 0 .6em;
}

a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 200;
  display: inline-block;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
}

.btn {
  background-color: #333;
  color: #fff;
}

.btn-big {
  text-align: center;
  display: inline-block;
  padding: .5em;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
